/*Darius Saadat*/

/*Web Version*/
@media screen and (min-width: 769px) {
    /*Designs the top banner, used for all pages*/
    .topBar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 100px;
        flex-direction: row;
        background-color: navy;
        color: white;
    }
    /*Designs the navigation row, used for all pages*/
    .navBar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: large;
        flex-direction: row;
        background-color: lightblue;
    }
    /*Designs the body sections so that they are well-spaced, used for all pages*/
    .body{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin-bottom: 50px;
        
    }
    /*Designs the body sections so that paragraphs are uniform, used for all pages*/
    .body>div>p{
        width: 80%;
        text-align: center;
        margin-left: 50px;
    }
    /*Designs the footer sections, used for all pages*/
    .footer{
        background-color: lightblue;
        font-size: large;
        text-align: center;
    }
    /*Designs the photo gallery, used for F1 page*/
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
    }
    /*Designs each photo in the photo gallery, used for F1 page*/
    .gallery>img{
        width: 100%;
        object-fit: cover;
    }
    /*Designs the title of the photo gallery, used for F1 page*/
    .galleryIntro{
        text-align: center;
        font-size: 75px;
    }
}


/*Mobile Version*/
@media screen and (max-width: 768px) {
    /*Designs the top banner, used for all pages*/
    .topBar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 80px;
        flex-direction: column;
        background-color: navy;
        color: white;
        text-align: center;
    }
    /*Designs the navigation row, used for all pages*/
    .navBar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: large;
        flex-direction: column;
        background-color: lightblue;
        height: 250px;
    }
    /*Designs the body sections so that they are well-spaced, used for all pages*/
    .body{
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }  
    /*Designs the footer sections, used for all pages*/
    .footer{
        background-color: lightblue;
        font-size: large;
        text-align: center;
    }
    /*Designs the photo gallery, used for F1 page*/
    .gallery{
        display: flex;
        flex-direction: column;

    }
    /*Designs each photo in the photo gallery, used for F1 page*/
    .gallery>img{
        width: 100%;
        object-fit: cover;
    } 
    /*Designs the title of the photo gallery, used for F1 page*/
    .galleryIntro{
        text-align: center;
        font-size: 75px;
    }
}