/*Darius Saadat*/

/*Web Version*/
@media screen and (min-width: 769px) {
    .topBar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 100px;
        flex-direction: row;
        background-color: navy;
        color: white;
    }
    .navBar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: large;
        flex-direction: row;
        background-color: lightblue;
    }
    .body{
        font-size: small;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: row;
        margin-bottom: 50px;
        
    }

    .body>div>p{
        width: 80%;
        text-align: center;
        margin-left: 50px;
    }

    .footer{
        background-color: lightblue;
        font-size: large;
        text-align: center;
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

    .gallery>img{
        width: 100%;
        object-fit: cover;
    }

    .galleryIntro{
        text-align: center;
        font-size: 75px;
    }
}


/*Mobile Version*/
@media screen and (max-width: 768px) {
    .topBar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 80px;
        flex-direction: column;
        background-color: navy;
        color: white;
    }
    .navBar{
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: large;
        flex-direction: column;
        background-color: lightblue;
    }
    .body{
        font-size: small;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-align: center;
    }  
    
    .footer{
        background-color: lightblue;
        font-size: large;
        text-align: center;
    }

    .gallery{
        display: flex;
        flex-direction: column;

    }

    .gallery>img{
        width: 100%;
        object-fit: cover;
    } 
    .galleryIntro{
        text-align: center;
        font-size: 75px;
    }
}